.form {
    width: 200px;
}

.avatar{
    /*border:1px solid black;*/
}

.avatar__photo {
    position: relative;
    border: 2px dashed #99a0a8;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #e5ebf1;
    color: #55677d;
}
.avatar__photo:hover {
    background-color: #5181b8;
    color:white;
    border-color: white;
}
.avatar__photo_input {
    display:none;
}
.avatar__photo_label {
    position:absolute;
    cursor: pointer;
    font-size: 12pt;
    width: 100%;
    height: 100%;
}

.avatar__photo_span {
    display:block;
    text-align: center;
    padding-top:25px;
}

.avatar__photo.photo {
    border:none;
    background:none;
}

.thumb {
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

.avatar__name {
    margin-top: 5px;
}

.avatar__name_input {
    border: 1px solid black;
    outline: none;
    font-size:14px;
}

.avatar__name_input.error {
    border-color: red;
}

.yourSexType {
    margin-top: 5px;
    margin-bottom: 5px;
}
.sex {
    display: block;
    padding-bottom: 10px;
}

.sex input {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
}

.sex__label {
    position: relative;
    cursor: pointer;
    padding-left: 23px;

}
.sex__label_span {
    position: absolute;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:#F9D443;
    top:0;
    left:0;
}

.sex__label:hover input ~ .sex__label_span {
    background-color: #FCE388;
}

.sex__label input:checked ~ .sex__label_span {
    background-color: #F9D443;
}

.sex__label_span:after {
    content: "";
    position: absolute;
    display: none;
}

.sex__label input:checked ~ .sex__label_span:after {
    display: block;
}

.sex__label .sex__label_span:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #7E620C;
}

.cats,
.dogs {
    display: none;
    margin-top:5px;
    margin-bottom: 5px;
}

.cats.visible,
.dogs.visible {
    display: inline-block;
}

.avatar__name_span.textErrorMessage {
    color: #55677d;
    visibility: visible;
}


.colorSwitcher {
    display: none;
    margin-top:5px;
}

.colorSwitcher.visibleColor {
    display: inline-block;
}

.colorSwitcher__mainButton {
    margin-top:5px;
}
.colorSwitcher__mainButton :nth-child(n) {
    margin: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.colorSwitcher__mainButton :first-child {
    background-color: red;
    margin-left: 10px;
}
.colorSwitcher__mainButton :nth-child(2) {
    background-color: green;
}

.colorSwitcher__mainButton :nth-child(3) {
    background-color: blue;
}

.colorSwitcher__button.shadow {
    box-shadow: 0 0 0 4px black;
}

.mainTracker {
    padding-bottom: 10px;
}
.mainTracker_weight {
    /*background-color: yellow;*/
    border:1px solid black;
    /*/*flex container*/
    display:flex;
    flex-flow: column;
}

.mainTracker_weight :first-child {
    flex:1 100%;
    background-color: #ffffff;
    text-align: left;
    margin-bottom: 5px;
}
.mainTracker_weight__total {
    padding-top:5px;
    padding-left: 3px;
}

.kg {
    float:right;
    padding-right: 5px;
}

.mainTracker_weight :nth-child(2) {
    /*border:1px solid green;*/
    flex:1 100%;
    background-color: #ffffff;

}
.mainTracker_weight__tracker .mainTracker_weight__tracker_horizon {
    position: relative;
    display:block;
    background-color: black;
    /*border:1px solid black;*/
    height: 1px;
    width: auto;

}

.mainTracker_weight__tracker input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.mainTracker_weight__tracker .mainTracker_weight__tracker_horizon_dot {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top:-7px;
    left:0;
    background-color: #F9D443;
    cursor: pointer;
    transition-duration: 0s;
    transform: translateX(0px);
    margin-bottom: 0;
    z-index: 10;
}


/*.mainTracker_weight__total .mainTracker_weight__total_span_kg {*/
    /*justify-content: flex-end;*/
/*}*/

.mainTracker_weight .mainTracker_weight__slider-label {
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-top:0;
}

.mainTracker_weight__slider-label :nth-child(n) {
    flex:1;
    cursor: pointer;
    color: #919191;
    font-size: 12px;
}


.sendForm {
    display:block;
    padding-top:10px;
}

.sendForm input {
    background-color:#7fbf4d;
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 150px;
}
.sendForm input:hover {
    background-color: #76b347;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
}

.sendForm input:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

